/* .nav-link{
    font-size: 17px;
    font-weight: 550;
    opacity: 0.5;
    font-family: Arial, Helvetica, sans-serif;
} */
header{
    position: absolute;
    z-index: 10;
    width: 100%;
}

.navbar{
    padding: 20px 0;
}
.navbar-brand{
    font-weight: 700;
    text-transform: uppercase;
    font-size:2em;
    color: #262626
}

.nav-item{
    font-weight: 600;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item.active .nav-link{
    background: #262626;
    columns: #fff;
}
.navbar-light .navbar-nav .nav-item .nav-link{
    color: #262626;
    padding: 5px 15px;
}
.banner{
    position: relative;
    background:url('./asset/images/bg1.jpg');
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 150px 0px 200px;
}

.banner h2{
    margin: 0;
    padding: 0;
    font-size: 2.8em;
    font-weight: 1000;
    color: #262626;
    text-transform: uppercase;
}
.responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
  }
.banner p{
    margin: 1em 0 0;
    padding: 0;
    font-size: 1.2em;
    line-height: 1.5em;
    color: #262626;
}

.btnD1{
    display: inline-block;
    margin: 1em 0 0;
    background: #ff2670;
    color:#fff;
    padding: 10px 20px;
    text-transform: uppercase;
    border: none;
    font-weight: 700;
}

.btnD1:hover{
    color: #fff;
    text-decoration: none;
}

.navbar-light .navbar-toggler{
    border: none;
    color: #fff;
    border: 2px solid #7f7f7f;
    border-radius: 0;
}

.search{
    margin-bottom: 4vh;
}
.bi-search{
    font-size:20px;
}

.btn-default{
    background: #BB2CD9;
    width: 100px;
    padding: 8.7px;
}

.form-control{
    padding: 20px;
    border-radius: 5px;
    font-size:20px;
}

.search-box{
    margin-top: 150px;
}

.card{
    border: 2px solid #2C3335;
    opacity: 0.89;
}

/* hourly section */
.img-mrg{
    padding:0px;
}

.hr-text{
    font-weight: 700;
    font-size: 13.5px;
}

.hr-heading{
    font-weight:700;
    font-size: 18px;
}

/* daily card data styling */

.text-bold{
    font-weight:500;
}

/* caraousel prev and next symbol color */
.carousel-control-prev-icon,
.carousel-control-next-icon {
 color:#7B8788
}




@media (min-width: 768px){
    .mx{
        margin-right: 50px;
        margin-left: 50px;
    }

}
@media (max-width: 576px)
{
    .banner{
        padding:200px 0;
    }

    .banner h2{
        font-size:1.8rem;
    }
    .navbar-light .navbar-nav .nav-item .nav-link{
        background: #262626;
    }

    .hr-data{
       text-align: center;
    }
}